@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.marquee {
    background-color: #F9FAFC;
    color: #000000;
    font-size: 15px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}


.menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;   
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 16px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 400;
}

.navbar ul li ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  flex-direction: column;
  width: 150px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  z-index: 1000;
}

.navbar ul li:hover ul.dropdown {
  display: flex;
}

.navbar ul li ul.dropdown li {
  border-bottom: 0px solid #222;
}

.navbar ul li ul.dropdown li a {
  display: block;
  padding: 12px 15px;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar ul li ul.dropdown li a:hover {
  background-color: #cfcfd8;
}

.menu .navbar ul li a:hover{
    color: #74655d;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-top: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.hero-banner {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), 
        url(images/Tienda.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: rgb(0, 1, 58);
}

.coffe {
    padding: 100px 0;
    background-image:
        url(images/Fondo.jpg);
    position: relative;
}

.coffe-content{
    text-align: center;
}

.coffe-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffe-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffe-1 {
    padding: 0 25px;
}

.coffe-1 img {
    width: 125px;
}

.coffe-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffe-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(images/Control.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 40px;
    margin-bottom: 15px;
}

.services-1 h3{
    color: #EACCB3;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-1, .general-3 p{
    font-size: 16px;
    color: #414247;
    text-align: justify;
}

.general-2{
    background-image: url(images/mision.jpg);
    background-attachment: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3{
    background-image: url(images/mundo.avif);
    background-attachment: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-4 {
    background-image: url(images/yo.jpg);
    background-attachment: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog {
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.blog-1 {
  flex: 0 0 calc(100% / 3);
  padding: 15px 55px;
  box-sizing: border-box;
}

.blog-1 p {
    font-size: 15px;
    color: #414247;
    line-height: 1.6;
}

.blog-1 strong {
  display: block;
  margin-top: 5px;
  color: #000;
}

.blog-1 img {
  width: 200px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.blog-1 h3 {
  color: #323337;
  font-size: 20px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 5px 15px;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

.footer {
    padding: 40px 20px 20px;
    background-color: #000000;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-col h4, .logo-social h2 {
  color: #ffffffbe;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #fff;
}

.social-icons a {
  color: #ccc;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 14px;
  color: #aaa;
}

.link h3{
    color: #F9FAFC;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #C5C5C5;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

.link li {
    color: #C5C5C5;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

.game-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 40px;
  padding: 50px;
  background-color: #fff;
}

.game-card {
  flex: 0 0 calc(25% - 40px);
  background: #f8f8f8;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.game-card img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.game-card h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.game-card p {
  font-size: 14px;
  color: #555;
}

.game-card strong {
  display: block;
  margin-top: 5px;
  color: #000;
}

.clientes {
  padding: 80px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.clientes h2 {
  font-size: 32px;
  color: #323337;
  margin-bottom: 40px;
}

.cliente-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cliente-card {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.cliente-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.cliente-card h3 {
  font-size: 18px;
  color: #222;
  margin-bottom: 10px;
}

.cliente-card p {
  font-size: 14px;
  color: #555;
}

.proveedores {
    text-align: center;
    padding: 60px 0;
}

.proveedores p {
    margin-bottom: 40px;
    color: #555;
}

.proveedores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.proveedor-card {
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.proveedor-card:hover {
    transform: translateY(-5px);
}

.proveedor-card img {
    width: 80px;
    margin-bottom: 15px;
}

.proveedor-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #222;
}

.proveedor-card p {
    font-size: 14px;
    color: #666;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
    opacity: 1; /* Puedes ajustar esto */
}

.video-overlay {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.video-overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.video-overlay p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.video-overlay .btn-1 {
    padding: 10px 25px;
    background-color: #07235f;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}



@media (max-width: 991px) {
    
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position : absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .coffe {
        padding: 30px;
    }

    .coffe-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .coffe-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffe-img{
        display: none;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        padding: 30px;
        width: 100%;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .proveedores h2 {
        font-size: 24px;
    }

    .proveedor-card {
        padding: 20px;
    }

    .proveedor-card img {
        width: 60px;
    }

    .proveedor-card h3 {
        font-size: 18px;
    }

    .proveedor-card p {
        font-size: 13px;
    }

    .game-section {
        flex-direction: column;
        align-items: center;
    }

    .carousel {
        width: 100%;
    }
}